*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(135deg,#16a34a,#22c55e);
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.container{
background:#fff;
width:100%;
max-width:420px;
border-radius:20px;
padding:30px;
text-align:center;
box-shadow:0 15px 40px rgba(0,0,0,.2);
}

.logo{
width:90px;
margin-bottom:15px;
}

h1{
color:#16a34a;
font-size:30px;
margin-bottom:8px;
}

.subtitle{
color:#666;
margin-bottom:25px;
}

.inputBox{
display:flex;
flex-direction:column;
gap:15px;
}

input{
padding:15px;
font-size:18px;
border:2px solid #16a34a;
border-radius:10px;
outline:none;
text-transform:uppercase;
}

button{
padding:15px;
font-size:18px;
font-weight:bold;
border:none;
border-radius:10px;
background:#16a34a;
color:white;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#15803d;
}

#wheelBox{
margin:30px auto;
}

#wheel{
width:170px;
height:170px;
border-radius:50%;
background:conic-gradient(
#22c55e 0deg 72deg,
#facc15 72deg 144deg,
#ef4444 144deg 216deg,
#3b82f6 216deg 288deg,
#a855f7 288deg 360deg
);
margin:auto;
display:flex;
justify-content:center;
align-items:center;
font-size:50px;
transition:transform 5s ease-out;
border:8px solid white;
box-shadow:0 0 25px rgba(0,0,0,.25);
}

#result{
margin-top:25px;
font-size:22px;
font-weight:bold;
color:#16a34a;
}
.stores{
  margin-top:20px;
  font-size:18px;
  font-weight:bold;
  color:#555;
  text-align:center;
}
.trust{
margin-top:18px;
line-height:28px;
font-size:16px;
color:#444;
font-weight:600;
text-align:center;
}
